{% extends 'main.html' %}

{% block content %}
	<p>Hello from <strong>reviews</strong> app main.html'</p>
	<a href="{% url 'reviews:add_ticket' %}">Demander une critique</a>
	{% for ticket in tickets %}
	<div>
		<p>ID: {{ticket.id}}</p>
		<p>Title: <a href='{% url 'reviews:edit_ticket' ticket_id=ticket.id %}'>{{ticket.title}}</a></p>
		<p>Desc: {{ticket.description}}</p>
		<p>Date: {{ticket.time_created}}</p>
		<p>User id: {{ticket.user_id}}</p>
		{% if ticket.image %}
			<img src="{{ticket.image.url}}" alt="cover image"/>
		{% else %}
			<p>Pas d'image</p>
		{% endif %}
	</div>
	<hr>
	{% endfor %}
{% endblock %}
