<div class="container p-3 my-3 border">

	<p>
	{% if post.user == user %}
		<span><strong>Vous</strong> avez publié une critique (review)</span> |
	{% else %}
		<span><strong>{{post.user.username}}</strong> a publié une critique (review)</span> |
	{% endif %}
		<span><strong>Date :</strong> {{post.time_created|date:'H:i, d M Y' }}</span>
	</p>

	<p><strong>Titre de revue :</strong> {{post.headline}}</p>
	<p><strong>Revue :</strong> {{post.body | linebreaksbr}}</p>
	<p><strong>Evaluation :</strong>
	<span class="rating">
		{% with ''|center:5 as range %}
			{% for _ in range %}
				{% if forloop.counter <= post.rating %}
					<span>★</span>
				{% else %}
					<span>☆</span>
				{% endif %}
			{% endfor %}
		{% endwith %}
	</span></p>

	{% with post=post.ticket review_id=post.id has_review=post.has_review show_alter_btn=False %}
		{% include 'reviews/ticket_snippet.html' %}
	{% endwith %}

	{% if post.user == user and source == 'posts' %}
		<a class="btn btn-primary" href="{% url 'reviews:del_review' review_id=post.id%}">Supprimer cette critique</a>
		<a class="btn btn-primary" href="{% url 'reviews:edit_review' review_id=post.id %}">Modifier cette critique</a>
	{% endif %}
</div>
