{% extends 'main.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/reviews.css' %}">

<div class="container p-3 my-3 border">

	{% if form.errors %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endif %}

	{% if form.instance.id %}

	<h2>Modifier votre critique</h2>
	<form method="POST" action="{% url 'reviews:edit_review' review_id=form.instance.id %}" enctype="multipart/form-data">
	{% elif ticket_instance.id %}

	<h2>Créer une critique</h2>
	<form method="POST" action="{% url 'reviews:add_review' ticket_id=ticket_instance.id %}" enctype="multipart/form-data">

	{% else %}

	<h2>Créer un ticket et une critique</h2>
	<form method="POST" action="{% url 'reviews:new_review' %}" enctype="multipart/form-data">

	{% endif %}

		{% csrf_token %}
		{# {{ form }} #}

		{% if ticket_instance.id %}
			<h3>Vous êtes entrain de poster en réponse à :</h3>
			{% with post=ticket_instance has_review=True %}
				{% include 'reviews/ticket_snippet.html' %}
			{% endwith %}
		{% else %}
			<h3>Livre / Article</h3>
			{% with form=formticket %}
				{% include 'reviews/ticket_snippet_form.html' %}
			{% endwith %}
		{% endif %}

		<h3>Critique</h3>
		{% for field in form %}

		<div>
			<strong>{{ field.label|escape }}</strong>
			<p>{{ field|escape }}</p>
			{% for error in field.errors %}
				<div class="alert alert-danger"><strong>{{ error|escape }}</strong></div>
			{% endfor %}
		</div>
	{% endfor %}

		<input type='submit' value="Soumettre">
	</form>

</div>

{% endblock %}
