{% extends 'main.html' %}

{% block content %}

<p>Hello from <strong>review {{id}}</strong> app review.html'</p>

{% if form.instance.id %}

<h2>Modifier votre critique</h2>
<form method="POST" action="{% url 'reviews:edit_review' ticket_id=form.instance.id %}" enctype="multipart/form-data">

{% else %}

<h2>Créer une critique</h2>
<form method="POST" action="{% url 'reviews:add_review' %}" enctype="multipart/form-data">

{% endif %}

	{% csrf_token %}
	{{ form }}
	<input type='submit'>
</form>

{% endblock %}
