<div style="border: 1px solid #FF0">

	{% if hide_header != True %}
		<p>
			<span>{{post.user.username}} a demandé une critique (ticket)</span> | 
			<span>Date: {{post.time_created}}</span>
		</p>
	{% endif %}

	<!--p>ID: {{post.id}}</p-->
	<p>Title: <a href='{% url 'reviews:edit_ticket' ticket_id=post.id %}'>{{post.title}}</a></p>
	<p>Desc: {{post.description}}</p>
	<p>User id: {{post.user_id}}</p>
	{% if post.image %}
		<img src="{{post.image.url}}" alt="cover image"/>
	{% else %}
		<p>Pas d'image</p>
	{% endif %}
	<br>
	<a class="btn btn-primary" href="{% url 'reviews:add_review' %}">Ajouter une critique</a>


</div>
