<div class="container p-3 my-3 border">

	<p>
	{% if post.user == user %}
		<span><strong>Vous</strong> avez demandé une critique (ticket)</span> |
	{% else %}
		<span><strong>{{post.user.username}}</strong> a demandé une critique (ticket)</span> |
	{% endif %}
		<span><strong>Date :</strong> {{post.time_created|date:'H:i, d M Y' }}</span>
	</p>

	<p><strong>Title :</strong> {{post.title}}</p>
	<p><strong>Desc :</strong> {{post.description}}</p>

	{% if post.image %}
		<img src="{{post.image.url}}" alt="cover image" class="img-responsive fit-image"/>
	{% else %}
		<p>Pas d'image</p>
	{% endif %}
	<br>
	{% if not has_review %}
		<a class="btn btn-primary" href="{% url 'reviews:add_review' ticket_id=post.id%}">Ajouter une critique</a>
	{% endif %}

	{% if post.user == user %}
		<a class="btn btn-primary" href="{% url 'reviews:del_ticket' ticket_id=post.id%}">Supprimer ce ticket</a>
		<a class="btn btn-primary" href="{% url 'reviews:edit_ticket' ticket_id=post.id %}">Modifier ce ticket</a>
	{% endif %}

</div>
