<!DOCTYPE html>
<html lang='fr'>
	<head>
		<meta charset='utf-8' /> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

		<title>LITReview</title>
	</head>
	<body>

		<ul>
		{% if user.is_authenticated %}
			<li>User: {{ user.get_username }}</li>
			<nav>
				<li><a class="btn btn-primary" href='/'>Flux</a></li>
				<li><a class="btn btn-primary" href='/posts'>Posts</a></li>
				<li><a class="btn btn-primary" href='/ugraph'>Abonnements</a></li>
				<li><a class="btn btn-primary "href="{% url 'logout'%}?next={{request.path}}">Se déconnecter</a></li>
			</nav>
		{% else %}
			<nav>
				{% url 'login' as logurl %}
				{% if request.path != logurl %}
				<li><a class="btn btn-primary "href="{{ logurl }}?next={{request.path}}">Se connecter</a></li>
				{% endif %}
			</nav>
		{% endif %}
		</ul>

		{% block content %}
		{% endblock %}

	</body>
</html>
